nav {
    margin-bottom: 20px;
}

#card-title {
    margin-bottom: 20px;
    color: #3a3d46;
}

.border-soil {
    border-color: #f8f5f1;
}

a {
    color: #718bb1;
}

a:hover {
    color: #867676;
}

/*a:hover {*/
/*    color: #867676 !important;*/
/*    text-decoration: underline*/
/*}*/


/*.card-body:hover {*/
/*    color: #867676;*/
/*}*/
/*.card-link:hover {*/
/*    color: #867676;*/
/*}*/

