nav {
    margin-bottom: 30px;
}


.border-soil {
    border-color: #f8f5f1;
}

a {
    color: #718bb1;
}

a:hover {
    color: #867676;
}

#card-title {
    margin-bottom: 20px;
    color: #3a3d46;
}

#card-sub-info {
    overflow: auto;
    margin-bottom: 0.75rem;
}

#card-badge-pill {
    background-color: #595959;
    color: #ffffff;
}

#card-link-rm {
    float: right;
}


/*a:hover {*/
/*    color: #867676 !important;*/
/*    text-decoration: underline*/
/*}*/


/*.card-body:hover {*/
/*    color: #867676;*/
/*}*/
/*.card-link:hover {*/
/*    color: #867676;*/
/*}*/

