nav {
    margin-bottom: 30px;
}

a {
    color: #718bb1;
}

a:hover {
    color: #867676;
}

#card-title {
    margin-bottom: 20px;
    color: #3a3d46;
}

#card-post {
    padding-bottom: 0rem !important;
    color: #3a3d46;
}

#card-sub-info {
    overflow: auto;
    margin-bottom: 0.75rem;
}

#card-badge-pill {
    background-color: #595959;
    color: #ffffff;
}

#card-link-rm {
    float: right;
}

#login-form {
    margin-top: 50px;
}

/*.toast{*/
/*    max-width: 0px !important;*/
/*}*/