{% extends "base.html" %}
{% block title %}
    <title>Home</title>
{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='mystyle.css') }}">
{% endblock %}

{% block app_content %}

    <div class="row">
        <div class="col-md-9">

        </div>

        <div class="col-md-3">
            <div style="height: 10rem;"></div>
            <div>
                <ul>
                    <li>
                        <p style="height: 200px">文章目录</p>
                    </li>
                    <li>
                        <p style="height: 200px">标签</p>
                    </li>
                    <li>
                        <p style="height: 200px">属性</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}