{% extends "base.html" %}
{% block title %}
    <title>Sign UP</title>  <!-- 继承父模板，但是重写了-->
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block app_content %}

    <div style="margin-top: 30px">
        <form action='register' , method='post'>
            <input type="text" , placeholder="Username" , name="user">
            <br>
            <input type="password" , placeholder="Password" , name="passwd">
            <br>
            <input type="submit" , value='Sign Up'>
        </form>
        {% import 'macro.html' as signup %}
        {{ signup.form('/register', value='注册') }}
    </div>

{% endblock %}




