<!-- 侧栏 -->

<div class="form-group">
    <input class="form-control form-control-lg" type="text" placeholder="Search" id="inputLarge">
</div>

{% if categories %}
    <h4>Category</h4>
    <ol class="list-unstyled">
        {% for type in categories %}
            <li>
                <a href="{{ url_for('article.show_category', category_id=type.id) }}">
                    {{ type.type_name }} {{ type.articles|length }}
                </a>
            </li>
        {% endfor %}
    </ol>
{% else %}
{% endif %}

