{% extends "base.html" %}

{% block app_content %}

    <div class="row">
        <div class="col-md-9">
            {% for year in post_years %}
                <h2>{{ year }}</h2>
                <ul class="list">
                    {% for article in articles %}
                        {% if article.timestamp.strftime("%Y") == year %}
                            <li class="h6">
                                {% if current_user.is_authenticated %}
                                    <a class="badge badge-primary"
                                       href="{{ url_for('user.post_delete', pid=article.id) }}"
                                       role="button">Delete</a>
                                    <a class="badge badge-primary"
                                       href="{{ url_for('user.edit_post', pid=article.id) }}"
                                       role="button">Edit</a>
                                {% endif %}
                                <span class="badge">{{ article.article_type.type_name }}
                                    {{ article.timestamp.strftime("%m-%d") }}
                                    </span>
                                <a href="{{ url_for('article.show_post', pid=article.id) }}">
                                    {{ article.title }}
                                </a>
                            </li>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <h4>Category</h4>
            <ol class="list-unstyled">
                {% for type in categories %}
                    <li>
                        {% if current_user.is_authenticated %}
                            <a class="badge badge-primary"
                               href="{{ url_for('user.category_delete', tid=type.id) }}"
                               role="button">Delete</a>&nbsp;&nbsp
                        {% endif %}
                        <a href="{{ url_for('article.show_category', category_id=type.id) }}">
                            {{ type.type_name }} {{ type.articles|length }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
            {#            {% include "sidebar.html" %}#}
        </div>

    </div>


{% endblock %}


