{% extends "base.html" %}

{% block app_content %}

    <div class="row">
        <div class="col-md-9">
            {% for year in post_years %}
                <h2>{{ year }}</h2>
                <ul class="list">
                    {% for article in articles %}
                        {% if article.timestamp.strftime("%Y") == year %}
                            <li class="h6">
                                    <span class="badge">{{ article.article_type.type_name }}
                                    {{ article.timestamp.strftime("%m-%d") }}
                                    </span>
                                <a href="{{ url_for('article.show_post', pid=article.id) }}">
                                    {{ article.title }}
                                </a>
                            </li>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div class="col-md-3">
            {% include "sidebar.html" %}
        </div>

    </div>


{% endblock %}


