{% extends "base.html" %}

{% block app_content %}

    <div class="row">
        <div class="col-md-9">
            {% for year in post_years %}
                <h3>{{ year }}</h3>
                {% for article in articles %}
                    {% if article.timestamp.strftime("%Y") == year %}
                        <ul>
                            <li>
                                <span class="badge badge-pill" id="card-badge-pill">
                                    {{ article.article_type.type_name }}
                                </span>
                                <a href="{{ url_for('article.show_post', pid=article.id) }}">
                                    {{ article.title }} {{ article.timestamp.strftime("%Y-%m-%d") }}
                                </a>
                                <a>{{ article.type_id }}</a>
                            </li>
                        </ul>
                    {% else %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-md-3">
            {% include "sidebar.html" %}
        </div>

    </div>


{% endblock %}


