{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/utils.html' import render_messages %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}
{% block title %}<title>{{ post.title }}</title>{% endblock %}
{% block app_content %}

    <div class="row">
        <div class="col-md-9">
            {#            {{ render_messages()}}#}
            {% for message in get_flashed_messages(with_categories=True) %}
                {% if message[0]=='primary' %}
                    {{ render_messages() }}
                {% else %}
                {% endif %}
            {% endfor %}
            {% if post %}
                <div class="card-body" id="card-post">
                    <h4 class="card-title text-dark">{{ post.title }}</h4>
                    <div id="card-sub-info">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tags-fill" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                        </svg>
                        <small class="text-muted form-control-sm"><a
                                href="{{ url_for('article.show_category', category_id=post.article_type.id) }}"> {{ post.article_type.type_name }} </a></small>
                        <small class="text-muted">{{ post.timestamp }}</small>
                    </div>
                    <p>{{ post.content_html|safe }}</p>
                </div>

                <hr>

                {% if comments %}
                    {% for comment in comments %}
                        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="mr-auto">{{ comment.author }}</strong>
                                <small>{{ comment.timestamp }}</small>&nbsp;&nbsp;
                                <a href="{{ url_for('article.reply_comment', comment_id=comment.id) }}"><small>Reply</small></a>
                            </div>
                            <div class="toast-body">

                                {% if comment.replied %}

                                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <strong class="mr-auto">{{ comment.replied.author }}</strong>
                                            <small>{{ comment.replied.timestamp }}</small>&nbsp;&nbsp;
                                            <a href="{{ url_for('article.reply_comment', comment_id=comment.id) }}"><small>Reply</small></a>
                                        </div>
                                        <div class="toast-body">
                                            {{ comment.replied.comment }}
                                        </div>
                                    </div>

                                {% else %}
                                {% endif %}

                                {{ comment.comment }}

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for message in get_flashed_messages(with_categories=True) %}
                    {% if message[0]=='light' %}
                        {#                        {{ message[1] }}#}
                        {{ render_messages() }}
                    {% else %}
                    {% endif %}
                {% endfor %}
                {{ render_form(form) }}
{#                {{ render_pager(pagination) }}#}

                {{ render_pagination(pagination, align='center', fragment='#submit') }}
{#    {{ render_pager(pagination, prev=('<span aria-hidden="true">&laquo;</span> Previous')|safe, next=('Next <span aria-hidden="true">&raquo;</span>')|safe, align='center') }}#}

            {% else %}
                <div class="alert alert-dismissible alert-light">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>No post</p>
                </div>
            {% endif %}


        </div>
        <div class="col-md-3">
            {% include "sidebar.html" %}

        </div>
    </div>

{% endblock %}