{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% from 'bootstrap/utils.html' import render_messages %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}
{% block title %}<title>{{ post.title }}</title>{% endblock %}
{% block app_content %}

    <div class="row">
        <div class="col-md-9">
            {#            {{ render_messages()}}#}
            {% for message in get_flashed_messages(with_categories=True) %}
                {% if message[0]=='primary' %}
                    {{ render_messages()}}
                {% else %}
                {% endif %}
            {% endfor %}
            {% if post %}
                <div class="card-body" id="card-post">
                    <h4 class="card-title text-primary">{{ post.title }}</h4>
                    <div id="card-sub-info">
                        <span class="badge badge-pill" id="card-badge-pill">{{ post.article_type.type_name }}</span>
                        <span class="badge badge-secondary">{{ post.timestamp }}</span>
                    </div>
                    <p>{{ post.content }}</p>
                </div>

                <hr>

                {% if comments %}
                    {% for comment in comments %}
                        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="mr-auto">{{ comment.author }}</strong>
                                <small>{{ comment.timestamp }}</small>&nbsp;&nbsp;
                                <a href="{{ url_for('article.reply_comment', comment_id=comment.id) }}"><small>Reply</small></a>
                            </div>
                            <div class="toast-body">

                                {% if comment.replied %}

                                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <strong class="mr-auto">{{ comment.replied.author }}</strong>
                                            <small>{{ comment.replied.timestamp }}</small>&nbsp;&nbsp;
                                            <a href="{{ url_for('article.reply_comment', comment_id=comment.id) }}"><small>Reply</small></a>
                                        </div>
                                        <div class="toast-body">
                                            {{ comment.replied.comment }}
                                        </div>
                                    </div>

                                {% else %}
                                {% endif %}

                                {{ comment.comment }}

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for message in get_flashed_messages(with_categories=True) %}
                    {% if message[0]=='light' %}
{#                        {{ message[1] }}#}
                        {{ render_messages()}}
                    {% else %}
                    {% endif %}
                {% endfor %}
                {{ render_form(form) }}

                {{ render_pagination(pagination, fragment='#submit') }}

            {% else %}
                <div class="alert alert-dismissible alert-light">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p>No post</p>
                </div>
            {% endif %}


        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}